body {
    margin: 0;
    padding: 0;
    background-image: url("resources/background-1.png");
    height: 100%;
    width: 100%;
}

/* div.header {
    background-color: rgb(11, 58, 25);
}

.head-container {
    display: flex;
    flex-shrink: ;
    height: 25vh;
}

.header {
    font: normal lighter small-caps 1em/normal Arial, sans-serif;
    padding: 3%px 2% 3% 2%;
    color: white;
    margin: 0;
}

li {
    background-color: #a5e6ca;
    list-style-type: none;
    display: flex;
    float: left;
    margin-top: 30px;
    -ms-flex-align: center;
    margin-left: 3px;
    margin-right: 3px;
    padding: 20px 25px;
}

li a {
    text-decoration: none;
    font: normal normal bolder 1em/normal sans-serif;
    color: darkslategray;
    text-transform: uppercase;
} 

        nyoba nge rework buat baru

        update: rework done :) ...delete aja ini
 */

.head-container {
    margin: 0;
    padding: 1% 2% 1% 4%;
    background-color: rgb(11, 58, 25);
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    /* position: fixed; */
}

.header-nav {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    display: flex;
}

.head ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.head li {
    background-color: #a5e6ca;
    float: left;
    margin: 0 2%;
    padding: 10px 10px;
    /* width: 20%; */
}

.head li:hover {background-color: white;}

.head li a {
    color: darkslategray;
    font: normal normal bold 0.8em/normal sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-weight: lighter;
    color: white;
}

.header {
    margin-right: 5%;
}

/* nyoba buat logo di kanan navbar tp gagal */
.logo {
    height: 50px;
    float: left;
}

.body-container {
    margin: 0 3% 0 3%;
    padding: 0;
    width: 94%;
    display: flex;
    background-color: rgb(240, 240, 240);
}

.right-site {
    width: 70%;
    padding: 20px 20px 0 20px;
}

.intro-title {
    font: italic normal lighter 2em/normal Arial, Helvetica, sans-serif;
    color: rgb(129, 129, 129);
}

.intro-name {
    font: normal normal bold 3em/normal Arial, Helvetica, sans-serif;
    color: rgb(44, 44, 44);
}

.right-site-content {
    display: flex;
    margin: 0;
    padding: 0 0 0 3%;
}

.right-site h2 {
    color: rgb(129,129,129);
    font: normal bold normal 1.7em/normal Lato, Halvetica, sans-serif;
}

.left-site {
    width: 30%;
    background-color: #2a6e3c;
}

.left-site-content {
    margin: 0;
    padding: 0 5%;
}

.left-site p {
    color: rgb(255, 255, 255);
    font: normal normal normal 1em/normal sans-serif;
}

/* .cv {
    color: rgb(rgb(0, 0, 0), green, blue);
} selector ketutupan sama .left-site p*/

.left-site h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font: normal normal normal 1.8em/normal Arial, Halvetica, sans-serif;
}

p {
    color: rgb(40,40,40);
    font: lighter normal normal 1.2em/normal Lato, sans-serif;
    text-align: justify;
}

.azka-img {
    float: left;
    display: flex;
}