body {
    margin: 0;
    padding: 0;
    background-image: url("resources/background-1.png");
    height: 100%;
    width: 100%;
}

.head-container {
    margin: 0;
    padding: 1% 2% 1% 4%;
    background-color: rgb(11, 58, 25);
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.header-nav {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    display: flex;
}

.head ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.head li {
    background-color: #a5e6ca;
    float: left;
    margin: 0 2%;
    padding: 10px 10px;
}

.head li:hover {background-color: white;}

.head li a {
    color: darkslategray;
    font: normal normal bold 0.8em/normal sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-weight: lighter;
    color: white;
}

.header {
    margin-right: 5%;
}

.logo {
    height: 50px;
    float: left;
}

.body-container {
    margin: 0 3% 0 3%;
    padding: 0;
    width: 94%;
    display: flex;
    background-color: rgb(240, 240, 240);
}

.right-site {
    width: 70%;
    padding: 20px 20px 0 20px;
}

.intro-title {
    font: italic normal lighter 2em/normal Arial, Helvetica, sans-serif;
    color: rgb(129, 129, 129);
}

.intro-name {
    font: normal normal bold 3em/normal Arial, Helvetica, sans-serif;
    color: rgb(44, 44, 44);
}

.right-site-content {
    display: flex;
    margin: 0;
    padding: 0 0 0 3%;
}

.right-site h2 {
    color: rgb(129,129,129);
    font: normal bold normal 1.7em/normal Lato, Halvetica, sans-serif;
}

.left-site {
    width: 30%;
    background-color: #2a6e3c;
}

.left-site-content {
    margin: 0;
    padding: 0 5%;
}

.cv-value {
    color: rgb(219, 219, 219);
    font: normal normal lighter 1.2em/normal sans-serif;
    vertical-align: top;
}

.cv {
    color: rgb(200, 255, 237);
    font: normal normal normal 1.2em/normal sans-serif;
    vertical-align: top;
}

.left-site h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font: normal normal normal 1.8em/normal Arial, Halvetica, sans-serif;
}

p {
    color: rgb(40,40,40);
    font: lighter normal normal 1.2em/normal Lato, sans-serif;
    text-align: justify;
}

.azka-img {
    float: left;
    display: flex;
}

.socmed-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socmed-block {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    align-items: center;
    justify-content: flex-end;
}

.socmed {
    font: normal normal 700 1em/normal Verdana, Halvetica, sans-serif;
    color: rgb(40,40,40);
    text-decoration: none;
}

.socmed:hover {
    color: rgb(129,129,129);
}

.img-socmed {
    margin-top: 10px;
}

#img-git:hover { height: 40px; margin: 0;}
#img-twit:hover { height: 40px; margin: 0;} 
#img-ig:hover { height: 40px; margin: 0;}

footer {margin: 0; padding: 0;}

.footer p {
    font: normal normal lighter 1em/normal sans-serif;
    color: rgb(167, 167, 167);
    text-align: center;
    margin: 0;
    padding: 1% 0;
}